<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Query history</title>
  <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
 </head>
 <body>
  <script th:inline="javascript">
   /*<![CDATA[*/
   localStorage.setItem("queryHistory", /*[[${queryHistory}]]*/);
   /*]]>*/
  </script> 
  <script src="webjars/portfolio-legal-service/1.0.0/legal_service_main.js"></script>
  <script>
	/*localStorage.clear();*/
  </script> 
 </body>
</html>